:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #230312;
  color: #efb8d2;
}

.coctails-list {
  width: 1150px;
  margin: 20px auto;
  /* background-color: pink; */
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
}
.coctail-img {
  width: 250px;
  height: 250px;
}
